<h1>Add a Comment</h1>

<%= form_for [@parent, @comment] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  
  <p><%= f.submit 'add comment' %></p>
<% end %>
